__pycache__/conftest.cpython-313-pytest-9.0.2.pyc
methods/__pycache__/assertionsMethods.cpython-313.pyc
methods/__pycache__/basicsMethods.cpython-313.pyc
pages/__pycache__/apparelshoesPage.cpython-313.pyc
pages/__pycache__/dashboardPage.cpython-313.pyc
pages/__pycache__/page_setup.cpython-313.pyc
pages/__pycache__/shoppingCartPage.cpython-313.pyc
reports/screenshots/test_1_Reg_AddItemsandCheckout_chromium_.png
reports/screenshots/test_1_Smoke_RegistertoDemoWebShop_chromium_.png
reports/screenshots/test_2_Reg_CheckOrderIdandPrint_chromium_.png
reports/screenshots/test_2_Smoke_LoginwithValidCredin_chromium_.png
reports/traces/test_1_Reg_AddItemsandCheckout_chromium_-trace.zip
reports/traces/test_1_Smoke_RegistertoDemoWebShop_chromium_-trace.zip
reports/traces/test_2_Reg_CheckOrderIdandPrint_chromium_-trace.zip
reports/traces/test_2_Smoke_LoginwithValidCredin_chromium_-trace.zip
reports/traces/tests_test_1Smoke_RegistertoDemoWebShop.py__test_OpendemowebshopandRegister_chromium_-trace.zip
reports/traces/tests_test_2Smoke_LoginwithValidCredin.py__test_OpendemowebshopandRegister_chromium_-trace.zip
reports/traces/tests_test_3Smoke_LoginWithInvalidCredin.py__test_OpendemowebshopandRegister_chromium_-trace.zip
reports/videos/test_1_Reg_AddItemsandCheckout_chromium_/191d1dac8deb6253b2920413b2d502d5.webm
reports/videos/test_2_Reg_CheckOrderIdandPrint_chromium_/bff76b77cda560a5bcff861b99f1aa9b.webm
reports/videos/test_2_Reg_CheckOrderIdandPrint_chromium_/c145649e5cba22cfdbfda0a1ad504395.webm
reports/videos/test_2_Smoke_LoginwithValidCredin_chromium_/e2066acfb8f64e7bb00dfdd977976555.webm
reports/videos/tests_test_1Smoke_RegistertoDemoWebShop.py__test_OpendemowebshopandRegister_chromium_/50a36adc39b54859243c257ca430be04.webm
reports/videos/tests_test_2Smoke_LoginwithValidCredin.py__test_OpendemowebshopandRegister_chromium_/5b881f9961f2c711ddf114065b9676af.webm
reports/videos/tests_test_3Smoke_LoginWithInvalidCredin.py__test_OpendemowebshopandRegister_chromium_/fe2a7fcd56a1a21070b829de596fc791.webm
tests/__pycache__/test_1_Reg_AddItemsandCheckout.cpython-313-pytest-9.0.2.pyc
tests/__pycache__/test_1_Smoke_RegistertoDemoWebShop.cpython-313-pytest-9.0.2.pyc
tests/__pycache__/test_1Smoke_RegistertoDemoWebShop.cpython-313-pytest-9.0.2.pyc
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.3400
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.6904
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.12692
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.13172
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.13224
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.13560
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.14744
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.20484
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.20496
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.30748
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.33696
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.34056
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.34692
tests/__pycache__/test_2_Reg_CheckOrderIdandPrint.cpython-313-pytest-9.0.2.pyc.35852
tests/__pycache__/test_2_Smoke_LoginwithValidCredin.cpython-313-pytest-9.0.2.pyc
tests/__pycache__/test_3_Smoke_LoginWithInvalidCredin.cpython-313-pytest-9.0.2.pyc
tests/__pycache__/test_test.cpython-313-pytest-9.0.2.pyc
